<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Notizen</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="split">
        <div class="left">

        </div>
        <div class="right">
            <div class="title">
                <p>Notizen</p>
            </div>
           
            <form method="post" class="form-login">
                <div class="box">
                    <label for="user">Benutzername</label>
                    <input type="text" name="user" class="input-text" autocomplete="off">
                </div>

                <div class="box">
                    <label for="user">Passwort</label>
                    <input type="password" name="password" class="input-text" autocomplete="off">
                </div>

                <input type="submit" value="Anmelden" class="input-btn-login" name="login">
            </form>
        </div>
    </div>
    
</body>
</html>